{% extends "layout.html" %}

{% block head %}
<script type="text/javascript">

function sanitize(to_sanitize){
    return to_sanitize.replace('px','');
}

document.observe('dom:loaded', function() {
    $$('.dragable').each(function(dragable){
        new Ajax.Request('/get/' + dragable.id, {
            method:'get',
            onSuccess: function(transport){
                where = transport.responseText.evalJSON(true);
                console.debug(where);
                dragable.setStyle({'top': where[0] + "px", 'left': where[1] + "px" });
            },
            onFailure: function(){ dragable.setStyle({'top': '100px', 'left': '100px'});}
        });

        new Draggable(dragable.id, { 'onEnd' : function(){ 
            new Ajax.Request('/set/' + dragable.id + "?x=" + sanitize(dragable.getStyle('top')) + "&y=" + sanitize(dragable.getStyle('left')), { method:'get' });
        }});
        });
    });
</script>
{%endblock%}

{% block body %}
<div>
    <h1>{{title}}</h1>
    {% if imgs %}
        {% for img in imgs %} <img class="dragable" id="{{ img.id_ }}" src='/static/uploads/{{ img.content }}' />{%endfor%}
    {% else %}
        <a href="/upload/"> Upload some imgs!</a>
    {% endif %}
</div>

{% endblock %}
