<!doctype html>
<head>
    <title>Kangaroo!</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='blueprint/screen.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='prototype.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='scriptaculous.js') }}" type="text/javascript"></script>
    <script src="
{{ url_for('static', filename='blueprint/screen.css') }}
" type="text/javascript"></script>
    {%block head %} {%endblock%}
</head>

<body>
    <div style="position:fixed; top:0px; right:0px;">
        <ul style="list-style:none;" class="navigation">
            {% if g.user %}

                <li>
                    <img src="{{ g.user.email | gravatar(size=32) }}" style="vertical-align:top" />
                </li>
                <li> {{ g.user.name }}</li>
                <li>
                    <a href="{{ url_for('edit_profile') }}"> Profile </a>
                </li>
                <li> <a href="/upload/"> Add content </a> </li>
                <li> <a href="{{ url_for('logout') }}"> Sign out </a> </li>

            {% else %}
                <li>
                    <a href="{{ url_for('login') }}"> Sign in </a>
                </li>
            {% endif %}

        </ul>
    </div>
        {% for message in get_flashed_messages() %}
            <p class="message">
                {{ message }}
            </p>
        {% endfor %}

        {% block body %}{% endblock %}
