{% extends "layout.html" %}
{% block menu %}
    <li>
        <a href="/upload/" title="#" onclick="jQuery('.container').toggle(200); return false;"> Add content </a>
    </li>
{%endblock%}

{% block head %}
    <script src="{{url_for('static', filename='js/grasscms.js')}}"></script>
    <script src="{{url_for('static', filename='js/jHtmlArea-0.6.0.min.js')}}"></script>
    <script> $(function(){ grasscms_startup(); }); </script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/jHtmlArea.css') }}" rel="stylesheet" type="text/css"/>
    
{%endblock%}
    
{% block body %}
    <div onBlur="jQuery(this).hide()" class="container menu_wrapper" id="container">
        <div class="menu_button">
            <form id="fileupload" action="/upload/{{page.name}}" method="POST" enctype="multipart/form-data">
                <span class="btn success px45 fileinput-button">
                    <span> Click here to upload a file </span>
                    <input type="file" onchange="jQuery('#fileupload').submit()"; name="files" >
                </span>

                <div style="position:absolute; top:0px; left:-100px; width:0px;">
                    <input type="submit"/>
                </div>
            </form>
        </div>

        <div class="menu_button">
            <form id="newpage" action="#" onsubmit="create_page(); return false">
                <span class="btn px45 success">
                    <span> Create a new page </span>
                    <input type="text" id="new_page" name="page" />
                    <span><a href="#" onclick="create_page()">Go</a></span>
                </span>
                <div style="position:absolute; top:0px; left:-100px; width:0px;">
                    <input type="submit"/>
                </div>
            </form>
        </div>

        <div class="menu_button">
            <span class="btn px45 success">
                <a onclick="get_blob({{page.id}}, false); return false" href="#">
                    <span style="color:white"> Insert text </span> 
                </a>
            </span>
        </div>

        <div class="menu_button">
            <span class="btn px45 success">
                <a onclick="get_menu({{blog.id}}); return false" href="#">
                    <span style="color:white"> Insert menu </span>
                </a>
            </span>
        </div>

        <div style="text-align:center; background:rgba(0,0,0,0.9); position:relative; top:115px;" onclick="jQuery('#container').hide(200);"> <span style="font-size:xx-big">^</span> </div>

    </div>
    
    <div id="filedrag">

        <h1>{{title}}</h1>

        {% if imgs %} 
            {% for img in imgs %}
                <img class="img" style=" width:{{img.width}}px; height: {{img.height}}px;"
                     id="{{ img.id_ }}"  src='/static/uploads/{{ img.content }}' />
            {%endfor%}
        {%endif%}

        {% if txts %} 
            {% for txt in txts %} 
                <div class="dragable" style="background:rgba(0,0,0,0.9);padding-top:10px;" id="{{ txt[1] }}">
                    <span><textarea style="padding-top:10px; min-width:4em; min-height:1em;"
                         onchange="update_file(this, '{{txt[1]}}');" class="rst">{{ txt[0] }}</textarea></span>
                </div>
            {%endfor%}
        {%endif%}

        {% if txt_blobs %}
            {% for txt in txt_blobs %} 
                <div class="dragable" style="background:rgba(0,0,0,0.9);padding-top:10px;" id="{{ txt[1] }}">
                    <span><textarea style="padding-top:10px; min-width:4em; min-height:1em;"
                         onchange="update_blob(this, '{{page.id}}, '{{txt.id_}}');" class="rst">{{ txt.text }}</textarea></span>
                </div> 
            {%endfor%}
        {%endif%}

    </div>

    <script src="/static/js/jquery.ui.widget.js"></script>
    <script src="/static/js/jquery.iframe-transport.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>
    <script src="/static/js/jquery.fileupload-ui.js"></script>
    <script src="/static/js/application.js"></script>
    <!--[if gte IE 8]><script src="cors/jquery.xdr-transport.js"></script><![endif]-->
{% endblock %}
