{% extends "layout.html" %}
{% block menu %} {%endblock%}

{% block head %}
    <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/grasscms/rotation.js')}}"></script>
    <script src="{{url_for('static', filename='js/grasscms/files.js')}}"></script>
    <script src="{{url_for('static', filename='js/grasscms/text.js')}}"></script>
    <script src="{{url_for('static', filename='js/grasscms/static_html.js')}}"></script>
    <script src="{{url_for('static', filename='js/grasscms/grasscms.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.hoverIntent.minified.js')}}"></script>
    <script src="{{url_for('static', filename='ckeditor/ckeditor.js')}}"></script>
    <script src="{{url_for('static', filename='ckeditor/adapters/jquery.js')}}"></script>
    <script>
        function save(editor){ 
            if(editor.checkDirty()){ update_blob( editor.getData(), '{{ page.name }}', editor.name); }
            var curr_dime = get_txt_current_dimensions(editor.name)
            $.ajax({ url: '/set_dimensions/text/' + editor.name.replace('text_',''), data: { width:curr_dime[0], height:curr_dime[1] } });
        }
        $(function(){ grasscms_startup(); });
    </script>
{%endblock%}

{% block admin_menu %}
        <li class="menu_button">
            <form style="width:42px" id="fileupload" action="/upload/{{page.name}}" method="POST" enctype="multipart/form-data">

                <input style="width:0px;height:0px" type="file" id="files" class="files" name="files" >
                <img title="Upload files" src="{{url_for('static', filename='images/add.png')}}" id="fakefiles" />
                <div style="position:fixed; top:0px; left:-100px; width:0px;">
                    <input type="submit"/>
                </div>

            </form>
        </li>

        <li class="menu_button">
                <a onclick="get_blob('{{page.name}}'); return false" href="#">
                    <img title="Add new text" src="{{url_for('static', filename='images/text.png')}}" />
                </a>
        </li>

        <li class="menu_button">
            <form id="newpage" action="#" onsubmit="create_page('{{blog.id}}'); return false">

                <img title="Add new page" src="{{url_for('static', filename='images/page.png')}}" onclick="$('#new_page_div').toggle(100); $('#new_page_div').css('display','inline')" />

                <div id="new_page_div" style="display:inline; display:none; ">
                    <input type="text" id="new_page" name="page" placeholder="Page name" required />
                    <span><a href="#" onclick="create_page('{{blog.id}}')">Create page</a></span>
                </div>

                <div style="position:fixed; top:0px; left:-100px; width:0px;">
                    <input type="submit"/>
                </div>

            </form>
        </li>

{%endblock%} 

{% block body %}

    <div id="standard_tools_model" class="standard_tools" style="display:none">
        <div class="standard_tools" style="display:none">
            <div style="float:left;position:fixed; margin-top:-35px; margin-left:70px;">
                <div><p style="color:white; font-size:small; width:60px; text-align:center; margin-bottom:0px;">Opacity</p></div>
                <div class="slider" data-wjs-element="box" style="width:60px;"></div>
            </div>
    
            <div style="float:left; margin-left:2px; margin-top:-20px; position:fixed">
                <div> <img style="width:16px" src="{{url_for('static', filename='img/up.png')}}" /> </div>
            </div>
            <div style="float:left; margin-left:18px; margin-top:-20px; position:fixed; ">
                <div> <img style="width:16px" src="{{url_for('static', filename='img/down.png')}}" /> </div>
            </div>
    
            <div style="float:left; margin-left:34px; margin-top:-20px; position:fixed; ">
                <div> <a href="#" onclick="delete_image($(this).parent().parent().parent().parent().children('img'));"> <img style="width:16px" src="{{url_for('static', filename='img/delete.png')}}" /> </a></div>
            </div>

        </div>
    </div>

    <div id="filedrag" style="position:fixed; top:0px; left:0px; width:100%; height:100%;"> 

<!-- Guides -->        
        <div class="x-guide draggable-x">  <span class="pos"></span> </div><div class="y-guide draggable-y"> <span class="pos"></span>  </div><div class="draggable-x-handle draggable-x draggable-x-newest"> <span class="pos"></span></div><div class="draggable-y-handle draggable-y draggable-y-newest"> <span class="pos"></span></div>


        {% if blog_menu %}
            <div class="static static_html" style="width:{{blog_menu.width}}px; height:{{blog_menu.height}}px; top:{{blog_menu.x}}px; left:{{blog_menu.y}}px;" id="menu{{ blog_menu.id_ }}">  {{ blog_menu.content|safe }} </div>
        {%endif%}


        {% if imgs %} 
            {% for img in imgs %}
                <img class="img" style=" width:{{img.width}}px; height: {{img.height}}px;"
                     id="img{{ img.id_ }}"  src='/static/uploads/{{ img.content }}' />
            {%endfor%}
        {%endif%}

        {% if txt_blobs %} {% for txt in txt_blobs %} 
            <div class="text_blob draggable texts" style="top:{{txt.x}}px; left:{{txt.y}}px;" id="{{ txt.id_ }}" >
                <div class="handler" style="display:none; background:black; height:13px; border-radius:2px; margin-bottom:-4px; margin-left:2px; " id="handler_text_{{txt.id_}}" > </div>
                <div>
                    <textarea  style="min-width:1em; min-height:1em;"  
                        id='text_{{txt.id_}}' class="{{page.name}} CKeditor_blob editor"> 
                            {{ txt.content }}</textarea>
                </div>
            </div> 
        {%endfor%} {%endif%}

    </div>

    <script src="/static/js/jquery.ui.widget.js"></script>
    <script src="/static/js/jquery.iframe-transport.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>
    <script src="/static/js/jquery.fileupload-ui.js"></script>
    <script src="/static/js/application.js"></script>
    <!--[if gte IE 8]><script src="cors/jquery.xdr-transport.js"></script><![endif]-->
{% endblock %}
