{% extends "layout.html" %}
{% block body %}
    <div>
        <div class="warn">{{ messages }}</div>
        {% if blog_menu %}
            <div class="static static_html" style="width:{{blog_menu.width}}px; height:{{blog_menu.height}}px; top:{{blog_menu.x}}px; left:{{blog_menu.y}}px;" id="menu{{ blog_menu.id_ }}">  {{ blog_menu.content|safe }} </div>
        {%endif%}

        {% if imgs %} {% for img in imgs %} {{ img|image|safe }}{%endfor%}{%endif%}
        {% if txt_blobs %} {% for txt in txt_blobs %} {{txt|text|safe }} {%endfor%} {%endif%}

    </div>
{% endblock %}
