{% extends "layout.html" %}
{% block body %}
<div style="margin-left:20px">
    <h1 style="margin-top:50px"> GrassCMS </h1>
    <p class="lead">
        Welcome to GrassCMS test page. 
    </p>
</div>

<div class="span6">
    <h5> What is GrassCMS?</h5>
    <ul>
        <li>Create your page in seconds</li>
        <li>Tired of your familiars asking for help with their pages? Send them GrassCMS!</li>
    </ul> 
</div>

<div style="margin-left:30px" class="span4">
    <h5> Please, have in account the following rules</h2>
    <ul>
        <li> No illegal content is allowed here </li>
        <li> All pages are deleted each time a version is updated </li>
        <li> Don't use this for actual use webpages, this is a test page </li>
    </ul> 
</div>


<div class="span12">
<form onsubmit="document.location = '/' + $('#page').val(); return false" action="">
    <div style="margin-left:auto; margin-right:auto;width:30%; margin-top:130px;">
        <ul style="list-style:none; width:100%">
            <li style="text-align:center; width:100%"><label for="page"><h2> Enter user page</h2> </label></li>
            <li><input type="text" name="page" placeholder="SiteFoobar" style="width:30em" id="page"></li>
            <li><button style="width:30em" type=submit>Go</button></li>
        </ul>
        <input type="submit" style="display:none;">
    </div>
</form>
</div>
{% endblock %}
