<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>GrassCMS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Create webpages easily in seconds">
    <meta name="author" content="David Francos Cuartero. Dario Ferrer Ferruz. Francisco Sanz Garcia">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{static('css/style.css')}}">
    <link rel="stylesheet" href="{{static('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{static('css/bootstrap-responsive.min.css')}}">
    <link href="{{static('css/jquery-ui.css')}}" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script src="{{static('js/plugins.js')}}"></script>
    <script src="{{static('js/bootstrap.min.js')}}"></script>
    <script src="{{static('js/script.js')}}"></script>

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {%block head %} {%endblock%}
</head>

<body style="padding-top:90px; position:relative;" >
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a class="brand" href="#">GrassCMS</a>
                <ul class="nav" style="margin-top:2px">
                    {% block admin_menu %} {%endblock%}
                </ul>
                <ul class="nav pull-right" style="margin-top:2px">
                    {% if g.user %}
                    <li>
                        <img src="{{ g.user.email | gravatar(size=32) }}" style="margin-right:10px" /> 
                    </li>
                    <li>
                        <div class="btn-group">          
                            <a class="btn " href="{{main_url}}"> <i class="icon-user"></i> {{ g.user.name }}</a>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href="{{ url_for('edit_profile') }}"><i class="icon-edit"></i> Edit profile </a> </li>
                                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                                <li class="divider"></li>
                                <li> <a href="{{ url_for('logout') }}"> Sign out </a> </li>
                           </ul>        
                        </div>
                    </li>
                    {% else %}
                        <li> <a onclick="open_login(this); return false;" title="Sign in" href="{{url_for('login')}}"> Sign in </a> </li> 
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    
    <header>
        {% block header %} {%endblock%}
        {% for message in get_flashed_messages() %} <div style="z-index:10000; position:fixed; bottom:0px;" class="alert" ><a class="close" data-dismiss="alert" href="#">&times;</a><p> {{ message }} </p></div> {% endfor %}
    </header>

    <div role="main" class="container">
        {% block body %}{% endblock %}
    </div>

</body>
</html>
