{% extends "layout.html" %}
{% block title%} {{title}}{%endblock%}

{%block head%}
    <meta name="description" content="{{description}}" />
    <script>
        $(document).ready(function () {
            $('textarea').each(function(){
                $(this).parent().html($(this).val());
            });  
        });
    </script>
{%endblock%}

{% block body %}
    <div>
        <div class="warn">{{ messages }}</div>
        {% if static_htmls %} {% for html_ in static_htmls %} {{ html_|html|safe }}{%endfor%}{%endif%}
    </div>
{% endblock %}
