{%extends "layout.html"%}
{% block head %}
    <script src="{{static('js/jquery-ui.min.js')}}"></script>
    <style>
        .nosortable { list-style-type: none; margin: 0; padding: 0;}
        .nosortable li { margin: 3px 3px 3px 0;  padding: 1px; float: left; width: 120px; height: 170px; font-size: 4em; text-align: center; border:2px solid rgba(0,0,0,0.3);border-radius:7px; }
        .sortable { list-style-type: none; margin: 0; padding: 0; width:100%; min-height:170px; }
        .sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 120px; height: 170px; font-size: 4em;  text-align: center;  border:2px solid rgba(0,0,0,0.3);  border-radius:7px; }
        li { list-style: none; display:inline-block; }
    </style>

    <script>
    $(function() {
        $("#main_pages").sortable({
            connectWith: "#sortable2",
            start:function(event,ui){
                    parent_=$(ui.item.context.parentElement);
                    child=$(ui.item).clone();
            },
            stop:function(event, ui){
                console.debug(parent_);
                if ($(ui.item.context.parentElement).attr('id') != $(parent_).attr('id')){
                    $(parent_).append(child);
                }
            }
        }).disableSelection();

        $("#sortable2").sortable({
            connectWith: "#main_pages",
            start: function(event, ui){
                console.debug($(ui));
            },
            stop:function(event, ui){
                console.debug("STOP");
                console.debug(ui);
            }
        }).disableSelection();

        $( "#droppable" ).droppable({
            drop: function( event, ui ) { 
                $(event.srcElement).parents('li').remove(); 
            } 
        });
        
    }); 
    // TODO: Templates must be unique, also, names for pages must be unique too.
    </script>

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    </head>

    <body style="padding-top:40px">

            
    <div style="width:98%" class="btn btn-danger" id="droppable"> Delete </div> 

       <li class="ui-state-default" style="display:none" id="page_model">
            <div style="float:left">
               <img src="{{page.thumb}}" style="width:120px;top: 35px;margin-top: 20px;" />
            </div>
            <div style="margin-top: 110px;">
                <input type="text" value="name" size="10" name="foo" style="width: 8em;" />
            </div>
       </li>

    <ul class="foo">
        <li>
            <ul class="nosortable">
                <li class="ui-state-disabled">
                    <a href="#" onclick="$('#main_pages').prepend($('#page_model').clone().css('display','inline-block'));">
                        <img src="http://grasscms.com/static/img/add.png" style="margin-top:20px" />
                    </a>
                </li>
            </ul> 
        </li>

        <li> <!-- TODO Make the sortables persistent -->
            <ul class="sortable" id="main_pages">
                {% for page in pages %}
                   <li class="ui-state-default" contenteditable="false">
                       <div style="float:left"><img src="{{page.thumb}}" style="width:120px;top: 35px;margin-top: 20px;"> </div>
                       <div style="margin-top: 110px;">
                           <input type="text" value="{{page.name}}" onchange="$(this).persistentdata('name', $(this).val())" style="width:8em;" />
                       </div>
                   </li>
                {%endfor%}
            </ul>
        </li>

        <li>
            <ul class="nosortable" >
                <li class="ui-state-disabled">
                    <a href="#" onclick="$('#main_pages').append($('#page_model').clone().css('display','inline-block'));">
                        <img src="http://grasscms.com/static/img/add.png" style="margin-top:20px" />
                    </a>
                </li>
            </ul>
        </li>
    </div>

    <div style="width:97%; margin-top:30px" > 
        <div  style="margin-left:auto; margin-right:auto; width:50%">
            <h1> Templates available for page Foo </h1>
        </div>
    </div>

    <div class="container-fluid">
        <ul class="sortable" id="sortable2"> <!-- todo make it so when a new object is sorted here is added as a template !-->
            {% for template in templates %}
                <li class="ui-state-default" contenteditable="false">
                    <div style="float:left"><img src="{{page.thumb}}" style="width:120px;top: 35px;margin-top: 20px;"> </div>
                    <div style="margin-top: 110px;">
                        <input type="text" value="{{page.name}}" 
                            onchange="$(this).persistentdata('name', $(this).val())"
                            style="width:8em;" />
                    </div>
                </li>
            {%endfor%}
        </ul>
    </div>
{%endblock%}
